$root-font-size: 14px;         // Base font-size for rems
$body-line-height: 1.4;
$body-heading-line-height: 1.15;

.nowrap {
    white-space: nowrap;
}

.upcase {
    text-transform: uppercase;
}
